<h1>Array</h1>

{% set array = [1, 2, 3, 4, 5, 6, 7, 8, 'Marcos Barbosa'] %}

{{ array[8] }}


{% set array_assoc = {"chave": {"sub_chave": "valor"} } %}

<h1>Array associativo</h1>
{{ array_assoc['chave']['sub_chave'] }} ou {{ array_assoc.chave.sub_chave }}

<h1>Array associativo mix</h1>
{% set array_mix = [1, 2, 3, 4, 5, 6, 7, {"chave": {"sub_chave": "valor"}}] %}
{{ array_mix[7].chave.sub_chave }}