<p>{{ 2 + 2}}</p>

{% set soma = 2 + 2 %}

<p>{{ soma }}</p>

{% set soma_variaveis =  soma + soma %}

<p>{{ soma_variaveis }}</p>

<h2>Subtração</h2>
{{ 2 - 2 - 2 }}

<h2>Multiplicação</h2>

{{ 2 * 2 * 2 }}

<h2>Divisão</h2>

{{ 2 / 2 / 2 }}

<h2>Resto divisão inteira</h2>
{{ 20 % 3}}

<h2>divisão com arredondamento</h2>

{{ 20 // 3}}

<h2>Concatenação de strings</h2>
{{ "School " ~ " Of Net"}}